:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --link-white-color: #ffffff;
  --link-grey-color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo-color {
  color: #2196f3;
}

body {
  font-family: var(--main-font), 'Open Sans', 'Ralewey', sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  outline: 2px solid tomato;
}

/*========== Header ===============*/
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-grey-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-grey-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/*============= Hero section ===========*/
.hero-section {
  background-color: #2f303a;
}

.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--link-white-color);
}

.hero-section-btn {
  border-radius: 6px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--link-white-color);
}

.hero-section-btn:hover,
.hero-section-btn:focus {
  background-color: #188ce8;
  color: var(--link-white-color);
}

/*============== Our priorities ==========*/

.text-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-grey-color);
}

/*============= Work section ==============*/

.title-description {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/*=============== Team ==============*/

.team-section {
  background-color: #f5f4fa;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-grey-color);
}

/*============== Footer ============*/
.footer {
  background-color: #2f303a;
}

.logo-link-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-white-color);
}

.map-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-white-color);
  font-style: normal;
}

.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}

.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

/*================= Portfolio===============*/

.filter-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--link-white-color);
}

.project-name {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-defenition {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--link-grey-color);
}
